h1 {
    font-size: 2.625rem;
    font-weight: 600;
}

h2 {
    font-size: 1.75rem;
    line-height: 1.5625rem;
    font-weight: 600;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.caption {
    font-size: .75rem;
    line-height: 1rem;
    color: $gray;
}