.input {

    &-example {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            bottom: -0.1em;
            background-repeat: no-repeat;
            background-image: url('data:image/svg+xml,<svg width="63" height="2" viewBox="0 0 63 2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1H62.5" stroke="%23999999" stroke-dasharray="3 4"/></svg>');
        }
    }

    &-error {
        display: block;
        margin-top: .25rem;
        color: $error;
        font-size: 1rem;
        line-height: 1.562rem;
    }

    &-wrap {
        position: relative;
        height: 3.125rem;
        display: flex;
        flex-wrap: nowrap;
    }

    &.input--sm {
        & .input-wrap {
            height: 1.875rem;
            width: 8.375rem;
        }

        & .input-inner {
            padding: 0 0.625rem;
            border-color: #dee1e3;

            &:focus {
                border-color: rgb(19, 38, 57);
            }
        }
    }

    &-inner {
        border: 1px solid transparent;
        height: 100%;
        width: 100%;
        padding-left: 1.25rem;
        padding-right: 3.5rem;
        border-radius: .375rem;
        box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
        background-color: $button_gray;
        font-size: 1rem;
        transition: all .3s ease;

        &::placeholder {
            color: $gray;
        }

        &:focus {
            border-color: rgb(19, 38, 57);
        }

        &:disabled {
            background-color: #FAF9FA;

            &::placeholder {
                color: #CECECF;
                opacity: .4;
            }
        }
    }

    &-showpass {
        position: absolute;
        padding: .25rem;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
}


.checkbox {
    cursor: pointer;

    input {
        display: none;

        &:checked {
            + {
                * {
                    >.checkbox-trigger {
                        border-color: transparent;
                        background-color: $green;
                        background-image: url('data:image/svg+xml,<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 10L8.95 13L15 5" stroke="white" stroke-width="2"/></svg>');

                        &.checkbox-trigger--main {
                            background-image: url('data:image/svg+xml,<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 10H14" stroke="white" stroke-width="2"/></svg>');
                        }
                    }

                }
            }

            &:hover {
                + {
                    * {
                        >.checkbox-trigger {
                            background-color: #2CC8B1;
                        }
                    }
                }
            }

            &:active {
                + {
                    * {
                        >.checkbox-trigger {
                            background-color: #29BDA7;
                        }
                    }
                }
            }
        }
    }

    &:hover {
        .checkbox-trigger {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    &:active {
        .checkbox-trigger {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

.checkbox-trigger {
    width: 1.1875rem;
    height: 1.1875rem;
    background-color: $white;
    border: 1px solid rgb(153, 153, 153);
    transition: all ease 0.24s;
    background-repeat: no-repeat;
    border-radius: .375rem;
    background-position: center center;

}

.input-showpass {
    color: $gray;
    transition: color .3s ease;

    &:hover {
        color: $black;
        transition: color .3s ease;
    }
}